body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}
header {
	background-image: url("./images/Untitled(1).png");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ffffff;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


nav {
	/* background-color: #2667c9; */
	color: rgb(255, 255, 255);
	padding: 10px;
	text-align: center;
	font-size: large;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li a {
	color: rgb(255, 255, 255);;
	text-decoration: none;
}

nav li a:hover {
	color: #a1a1a1;
}

main {
	margin: 20px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section {
	margin-bottom: 20px;
}

h1,
h2 {
	font-weight: bold;
	text-align: center;
}

ul {
	margin-left: 20px;
}

footer {
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
}

footer p {
	margin: 0;
}
p {
	font-size: x-large;
}
a {
	margin: 0 auto;
	display: block;
}

img {
	max-width: 40%;
	height: auto;
}

.button {
	border-radius: 25px;
	background-color: #4871ce;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: auto;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	margin: 0 auto;
	display: block;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

#info-gov-button,
#learn-more-button,
#foia-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	/* or set a specific width */
}

.second-line {
	margin-top: 5px;
	/* or adjust to your liking */
}

.gdpr-popup-box,
.infogov-popup-box,
.foia-popup-box {
	display: none;
	/* Hide the popup box by default */
	position: fixed;
	/* Position the popup box relative to the viewport */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	/* Add a semi-transparent black background */
}

.gdpr-popup-content,
.infogov-popup-content,
.foia-popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 40px;
	/* Increase padding to make the content area bigger */
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 100%;
	/* Increase width to make the popup box wider */
	max-width: 1000px;
	/* Add a max-width to limit the width on larger screens */
	height: auto;
	/* Increase height to make the popup box taller */
	max-height: 750px;;
	/* Add a max-height to limit the height on larger screens */
	overflow-y: auto;
	/* Add scrollbars when content overflows the height */
}

@media (max-width: 760px) {

	header {
		background-image: url("./images/Untitled(1).png");
		/* background-size: cover; */
		background-size: 100% auto;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #4871ce;
		color: rgb(52, 52, 52);
		text-align: center;
		margin: 5px;
		padding: 10px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	nav {
		/* background-color: #2667c9; */
		color: white;
		padding: 10px;
		text-align: center;
	}
	
	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	nav li {
		display: inline-block;
		margin-right: 20px;
	}
	
	nav li a {
		color: rgb(52, 52, 52);
		text-decoration: none;
	}
	
	nav li a:hover {
		color: #000000;
	}
	
	main {
		margin: 5px;
		padding: 5px;
		background-color: white;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	
	section {
		margin-bottom: 20px;
	}
	h1,
	h2 {
		font-weight: bold;
		font-size: large;
		text-align: center;
	}
	ul {
		margin-left: 20px;
	}
	
	footer {
		background-color: #333;
		color: white;
		margin: 5px;
		padding: 10px;
		border-radius: 10px;
		text-align: center;
	}
	
	footer p {
		margin: 0;
		font-size: small;
	}

	a {
		margin: 0 auto;
		display: block;
	}
	.gdpr-popup-box,
	.infogov-popup-box,
	.foia-popup-box {
		display: none; /* Hide the popup box by default */
		position: fixed; /* Position the popup box relative to the viewport */
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6); /* Add a semi-transparent black background */
	}

	.gdpr-popup-content,
	.infogov-popup-content,
	.foia-popup-content {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 75%;
		border-radius: 0;
		padding: 28px;
		max-height: 75ch;
	}

	.exit-button,
	.infogov-exit-button,
	.foia-exit-button {
		top: 5px;
		right: 5px;
	}

	img {
		max-width: 80%;
		height: auto;
		
	}
	  .grid-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	  }
	  
	  .grid-item {
		margin: 10px 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	  }
	  
	  .grid-item img {
		margin-bottom: 10px;
	  }
	  .grid-container1 {
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	
	  .grid-item1 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 100%;
		padding: 0 10px;
	  }
	
	  .grid-item1 button {
		margin: 0;
		flex-grow: 1;
		margin: 0px;
		margin-left: 5px;
		margin-right: 5px;
		/* max-width: calc(100% / 3); Distribute the width equally among the buttons */
	  }
	  .grid-item1 p img {
		align-items: center;
		min-width: 60%;
		max-width: 80%;
		height: auto;
		margin-bottom: 10px;
	  }
	  p {
		font-size: large;
	}
}
@media (max-width: 450px) {
	.grid-container1 {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  overflow-x: auto;
	}
  
	.grid-item1 {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  max-width: 100%;
	  padding: 0 2px;
	  flex-wrap: nowrap; /* Prevent line break for buttons */
	}
  
	.grid-item1 button {
		font-size: smaller;
	 	/* margin: 0; */
	  	flex-shrink: 0; /* Prevent button from shrinking further */
	  	width: calc(100% / 3); /* Distribute the width equally among the buttons */
	  	max-width: 100%; /* Ensure button does not exceed 100% of container width */
		margin: 0px;
		margin-left: 5px;
		margin-right: 5px;
	}
  }
  

.exit-button,
.infogov-exit-button,
.foia-exit-button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #999;
	cursor: pointer;
}

.exit-button:hover,
.infogov-exit-button:hover,
.foia-exit-button {
	color: #333;
}

.accordion {
	margin-top: 20px;
	max-height: 300px;
	overflow-y: scroll;
}

.accordion-item {
	border: 1px solid #1c488a;
	border-radius: 15px;
	margin-bottom: 10px;
}

.accordion-header {
	background-color: #2667c9;
	border-radius: 15px;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}

.accordion-content {
	display: none;
	padding: 10px;
}

.accordion-item.active .accordion-content {
	display: block;
}
.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .grid-item {
    margin: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-item img {
    margin-bottom: 10px;
  }
  .grid-container1 {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .grid-item1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
  }
  
  .grid-item1 button {
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
  }

  .grid-item1 p img {
	align-items: center;
	/* width: 40%; */
	max-width: 40%;
		height: auto;
    margin-bottom: 10px;
  }